<% provide(:title, 'Crea') %>
<div class="container">
      
<h2>ユーザー登録</h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <form action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="hg55Otl28Xr1vEzZjE+v1fvWnjRzx7gvoljn+uKHu5wYwF/8/4LKJl0Tef2H89Wsk1Bdjxu6fO97WUJlmBLacg==" />
  

  <label class="label-form" for="user_name">名前</label>
  <input class="form-control" type="text" name="user[name]" />

  <label class="label-form" for="user_email">メールアドレス</label>
  <input class="form-control" type="email" name="user[email]" />

  <label class="label-form" for="user_password">パスワード</label>
  <input class="form-control" type="password" name="user[password]" />

  <label class="label-form" for="user_password_confirmation">パスワード再入力</label>
  <input class="form-control" type="password" name="user[password_confirmation]" />

  <input type="submit" name="commit" value="新規登録" class="btn btn-primary btn-block btn-form" data-disable-with="新規登録" />
</form>
  </div>
</div>

      
    </div>