<% provide(:title, 'Edit') %>
<% provide(:class_text, 'users/edit') %>
<% provide(:button_text, 'タスク一覧') %>

<div class="container">
      
<h2>CHONOのタスク一覧</h2>


<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <a class="btn btn-lg btn-primary pull-right" <%= link_to "タスク新規作成", users_index_path%></a>
    <table class="table table-hover" id="table-tasks">
      <thead>
        <tr>
          <th>名称</th>
          <th>作成日</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
          <tr>
            <td><a id="task-name" href="/users/105/tasks/158">chono</a></td>
            <td>2019/08/03 23:36</td>
            <td>
              <a class="btn btn-success" <%= link_to "編集", users_update_path%></a>
              <a data-confirm="「chono」を削除します。よろしいですか？" class="btn btn-danger" rel="nofollow" data-method="delete" href="/users/105/tasks/158">削除</a>
            </td>
          </tr>
      </tbody>
    </table>
  </div>    
</div>
      
</div>