<% provide(:title, 'All Users') %>
<h2>タスク新規作成</h2>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <form action="/users/105/tasks" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="authenticity_token" value="iU2Otcre2fmvOEGub1VxCaH57peehCiukzJ/of5zR/0YUAlQUKWCg7m0ZHXW30tSpIo7vseW9nVjXUUNREmyXg==" />
      
      
      <label class="label-form" for="task_name">名称</label>
      <input class="form-control" type="text" name="task[name]" />

      <label class="label-form" for="task_description">詳細</label>
      <textarea rows="5" class="form-control" name="task[description]">
</textarea>

      <input type="submit" name="commit" value="新規登録" class="btn btn-lg btn-primary btn-form" data-disable-with="新規登録" />
</form>  </div>
</div>

      
    </div>
  </body>


<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>

